<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Home</title>
</head>
<body>
    <h1>{{ message }}</h1>
    
    {% if prediction_result %}
        <p>ID: {{ prediction_result['ID'] }}</p>
        <p>Predicted Class: {{ prediction_result['predicted_class'] }}</p>
        <p>Confidence Score: {{ prediction_result['confidence_score'] }}</p>
        <p>Inserted At: {{ prediction_result['insertedAt'] }}</p>
    {% endif %}
</body>
</html>
